
@model IEnumerable<Domain.Model.Doctor>


<h1>Doctor List</h1>
<form method="post" enctype="multipart/form-data" action="/Doctor/Import">
    <input type="file" name="file" />
    <input type="submit" value="Import" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Specialization</th>
            <th>Experience</th>
            <th>ContactNo</th>
            <th>EmailId</th>
            <th>Schedule</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.Name</td>
                <td>@doctor.Gender</td>
                <td>@doctor.Specialization</td>
                <td>@doctor.Experience</td>
                <td>@doctor.ContactNo</td>
                <td>@doctor.EmailId</td>
                <td>@doctor.Schedule</td>
            </tr>
        }
    </tbody>
</table>

